<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<div id="current_status">
  <label for="reading1"><%= @project.sensor1_name %></label><span id="reading1">NULL</span>
  <label for="reading2"><%= @project.sensor2_name %></label><span id="reading2">NULL</span>
</div>

<div id="chart" style="width: 1000px; height: 700px;"></div>

<script type="text/javascript">

  var data = null;
  var newestTimestamp = null;
  var graph = null;
  var lastGraphRefresh = null;
  var graphRefreshInterval = 10 * 1000; // in milliseconds

  renewData();

  function renewData() {
    $.getJSON('<%= project_data_path(@project) %>', {after: newestTimestamp}, function (json) {

      if (json.readings.length > 0) {
        var mappedData = _.map(json.readings, function(r) {
          return [new Date(r.timestamp), r.value1, r.value2];
        });

        if (data == null) {
          data = mappedData;
        } else {
          data = data.concat(mappedData);
        }

        var lastReading = data[data.length - 1];

        if (lastReading) {
          newestTimestamp = lastReading[0];
          $("#reading1").html(lastReading[1]);
          $("#reading2").html(lastReading[2]);
        }

        if (graph == null) {
          buildGraph();
          lastGraphRefresh = Date.now();
        } else if ((Date.now() - lastGraphRefresh) >= graphRefreshInterval) {
          graph.updateOptions({file: data});
          lastGraphRefresh = Date.now();
        }
      }

      setTimeout(renewData, 2000);

    });
  }

  function buildGraph() {
    graph = new Dygraph(document.getElementById("chart"),
        data,
        {
          labels: ["x", "<%= @project.sensor1_name %>", "<%= @project.sensor2_name %>"]
        });
  }

</script>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Home', projects_path %>
