<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<div id="chart" style="width: 1000px; height: 700px;"></div>

<script type="text/javascript">

  var data = null;
  var newestTimestamp = null;
  var graph = null;

  renewData();

  function renewData() {
    $.getJSON('<%= project_data_path(@project) %>', {after: newestTimestamp}, function (json) {

      var mappedData = _.map(json, function(r) {
        return [new Date(r.timestamp), r.value1, r.value2];
      });

      if (data == null) {
        data = mappedData;
      } else {
        data = data.concat(mappedData);
      }

      newestTimestamp = data[data.length - 1][0];

      if (graph == null) {
        buildGraph();
      } else {
        graph.updateOptions({file: data});
      }

      setTimeout(renewData, 2000);

    });
  }

  function buildGraph() {
    graph = new Dygraph(document.getElementById("chart"),
        data,
        {
          labels: ["x", "Sensor 1", "Sensor 2"]
        });
  }

</script>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Home', projects_path %>
